<!DOCTYPE html>
<html lang="es" xml:lang="es" class="bc-white h-full">
<head>
<meta charset="utf-8">
	<link rel="icon" type="image/png" href="favicon.png">
	<!--aqui van los metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>STIX-TV - Creator</title>
	<repeat group="{{ @css }}" value="{{ @link }}" >
		<link rel="stylesheet" href="{{ @link }}"/>
	</repeat>
</head>
<body class="bc-white h-full" >

<include href="admin/parts/navbar.html" />

<div class="w-full h-minfull flex flex-col">
    <div class="w-full block pt-12"></div>
    <div class="w-full box-border" >
        <!--content-->
        <!--barra superior ver vista editable o vista final-->
        <div class="w-full flex items-stretch flex-shrink-0 h-13 gray300 text-gray800">
          <div class="w-full box-border align-stretch flex flex-shrink-0 h-13 justify-center">

              <div class="flex flex-col justify-center text-center text-lightblue800 leading-3 gray200 cursor-pointer w-12">
                  <p><i class="far fa-sticky-note fa-lg "></i></p>
              </div>
              <div class="flex flex-col justify-center text-center leading-3 gray200:hover cursor-pointer w-12">
                  <p><i class="far fa-eye fa-lg "></i></p>
              </div>
          </div>
        </div>
        <!--barra superior ver vista editable o vista final-->
        <div class="w-full flex flex-row items-stretch yellow500 h-full" style="align-items: stretch">
            <div class="flex flex-col blue700" style="flex:1;">
                 <div>Pages</div>
                 <div>Component</div>
            </div>
            <div class="flex green800" style="flex:2;" >
                VIsta Principal
            </div>
            <div class="red800" style="flex:1;" >
                Caja del Manjeo de Componente
            </div>
        </div>
        <!--content-->
    </div>
</div>
</body>
</html>
